<div class="org hbox hbox-auto-xs hbox-auto-sm" ng-controller="SettlementOfFinance">
    <div class="frame-panel">
        <div class="row">
            <div class="col-md-12 mrb-15">
                <h2 class="title-3 text-center" ng-bind="reports_name"></h2>
            </div>
            <div style="position: absolute;right: 22px;">
                <button class="btn btn-primary mrr-10 none" ng-click="settle(true)" ng-disabled="!canSettle">批量结算</button>
                <form action="{{action_url}}" method="post" style="display: inline">
                    <button type="submit" class="btn btn-info mrr-10" ng-click="export()" ng-disabled="!canExport">导出报表</button>
                </form>
                <button class="btn btn-default" ng-click="goBack()"><i class="fa fa-chevron-circle-left text-danger"></i> 返 回</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 cnt-col-rt" style="padding-left: 15px;">
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <div ng-show="isGroup">
                            <table id="table_of_group" class="table table-striped b-t b-b">
                                <thead>
                                <tr>
                                    <th>集团名称</th>
                                    <th>开户名称</th>
                                    <th>身份证号</th>
                                    <th>开户银行</th>
                                    <th>支行</th>
                                    <th>银行账号</th>
                                    <th>待结算金额（元）</th>
                                    <th>实际结算金额（元）</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="isDoctor">
                            <table id="table_of_doctor" class="table table-striped b-t b-b">
                                <thead>
                                <tr>
                                    <th>医生名称</th>
                                    <th>手机号</th>
                                    <th>开户名称</th>
                                    <th>身份证号</th>
                                    <th>开户银行</th>
                                    <th>支行</th>
                                    <th>银行账号</th>
                                    <th>待结算金额（元）</th>
                                    <th>实际结算金额（元）</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="isSalesclerk">
                            <table id="table_of_salesclerk" class="table table-striped b-t b-b">
                                <thead>
                                <tr>
                                    <th>药店</th>
                                    <th>收款人</th>
                                    <th>开户名称</th>
                                    <th>开户银行</th>
                                    <th>支行</th>
                                    <th>银行账号</th>
                                    <th>结算周期</th>
                                    <th>待结算金额（元）</th>
                                    <th>实际结算金额（元）</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>