<div class="modal-over">
    <div class="modal-center animated fadeInRight text-center" style="width:200px;margin:-160px 0 0 -100px;">
        <p class="h4 m-b-lg m-t-lg text-white">重置密码</p>
        <form name="signinForm" ng-class="{true:'shake animated'}[signinForm.isError]">
            <div class="clearfix" ng-class="{true:'shake animated'}[signinForm.userName.isNull]">
                <input type="text" class="form-control text-sm btn-rounded no-border" autocomplete="off" placeholder="请输入手机号" name="telephone" ng-model="telephone" ng-disabled="isSingnin" required>
            </div>
            <div class="input-group m-t" ng-class="{true:'shake animated'}[signinForm.code.isNull]">
                <input type="password" class="form-control text-sm btn-rounded no-border" autocomplete="off" placeholder="验证码" name="code" ng-model="code" ng-disabled="isSingnin" required>
                <div class="input-group-btn box-shadow" title="获取验证码">
                    <a ng-click="getCode()" ng-disabled="isTiming"  class="btn btn-success btn-rounded no-border w-100"  style="height: 34px;">
                        {{getCodeText}}
                    </a>
                </div>
            </div>
        </form>
        <div class="text-danger m-t" ng-if="signinError">
            {{signinError}}
        </div>
        <div class="m-t-lg"><button class="btn m-b-xs w-xs btn-success btn-rounded" ng-click="next()">下一步</button></div>
    </div>
</div>
