<div class="modal-over">
    <div class="modal-center animated fadeInRight text-center" style="width:200px;margin:-160px 0 0 -100px;">
        <p class="h4 m-b-lg m-t-lg text-white">重置密码</p>
        <form name="signinForm" ng-class="{true:'shake animated'}[signinForm.isError]">
            <div class="clearfix" ng-class="{true:'shake animated'}[signinForm.password.isNull]">
                <input type="password" class="form-control text-sm btn-rounded no-border" autocomplete="off" placeholder="请输入密码" name="password" ng-model="password" ng-disabled="isSingnin" required>
                <p style="position: absolute;word-break: normal;width: 500px;top: 85px;left: 165px;color: #9E9C9C;">由字母、数字或符号至少两种字符组成，至少6个字符，区分大小写</p>
            </div>
            <div class="clearfix m-t" ng-class="{true:'shake animated'}[signinForm.rePassword.isNull]">
                <input type="password" class="form-control text-sm btn-rounded no-border" autocomplete="off" placeholder="请再次输入密码" name="rePassword" ng-model="rePassword" ng-disabled="isSingnin" required>
            </div>
        </form>
        <div class="text-danger m-t" ng-if="signinError">
            {{signinError}}
        </div>
        <div class="m-t-lg"><button class="btn m-b-xs w-xs btn-success btn-rounded" ng-click="reset()">确定</button></div>
    </div>
</div>
