<div class="org hbox hbox-auto-xs hbox-auto-sm ng-scope" ng-controller="SurveyLibraryCtrl">
    <div class="frame-panel">
        <div class="row">
            <div class="col-md-3 mrb-15">
                <h2 class="title-3">调查表列表</h2>
            </div>
            <div class="col-md-9 mrb-10">
                <div class="pull-left">
                    <h2 class="title-3">病种：{{diseaseName}}</h2>
                </div>
                <div class="pull-right">
                    <a class="btn btn-success" ui-sref="app.editorSurvey">创调查表</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 cnt-col-lt">
                <div id="sch_cnt_list" class="list-group"></div>
            </div>
            <div class="col-md-9 cnt-col-rt">
                <div class="panel panel-default">
                    <div class="col-md-12">
                        <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="dataTables_length">
                                <label>
                                    每页
                                    <select class="form-control input-sm" ng-model="pageSize" ng-change="setTable(null, 1, pageSize)">
                                        <option value="1">1</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                    </select>
                                    条
                                </label>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped b-t dataTable no-footer">
                        <thead>
                            <tr>
                                <th>计划名称</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in surveyList track by $index">
                                <td>{{item.title}}</td>
                                <td>
                                    <button class="btn btn-xs btn-primary text-xs" ui-sref="app.editorSurvey({ surveyId: item.surveyId,version:item.version })">编辑</button>
                                    <button class="btn btn-xs btn-danger text-xs" ng-click="removeItem(item.surveyId,item.version)">删除</button>
                                </td>
                            </tr>
                            <tr ng-if="!surveyList||surveyList.length<1">
                                <td colspan="3" class="text-center">无数据</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <pagination ng-show="page_count>0" total-items="page_count" ng-model="pageIndex" items-per-page="pageSize" ng-change="pageChanged()" direction-links="false" boundary-links="true" first-text="首页" last-text="尾页"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>
