<div class="login-top">
    <p>我是公司管理者！<a ui-sref="access.signup"> 立即注册 </a>公司。</p>
</div>
<div class="container enterprise-login-wrapper" ng-controller="enterpriseSigninFormController"
     ng-init="app.settings.container = false;">
    <div class="m-b-lg clear">
        <div class="login-right">
            <h4 class="text-center">公司账号登录</h4>

            <form name="form" class="form-validation">
                <div class="text-danger wrapper text-center" ng-show="authError">
                    {{authError}}
                </div>
                <div class="list-group list-group-sm">
                    <div class="list-group-item">
                        <input type="text" placeholder="手机号码" class="form-control no-border"
                               ng-model="enterprise.telephone" tabindex="1" required>
                    </div>
                    <div class="list-group-item">
                        <input type="password" placeholder="密码" class="form-control no-border"
                               ng-model="enterprise.password" tabindex="2" required>
                    </div>
                </div>
                <div class="list-group list-group-sm">
                    <label class="i-checks"><input type="checkbox" id="rememberInfo"><i></i>记住登录信息</label>
                    <a ui-sref="access.resetPassword" class="pull-right text-primary">忘记密码?</a>
                </div>
                <button type="submit" class="btn btn-lg btn-success btn-block" ng-click="login()"
                        ng-disabled='form.$invalid'>登&nbsp;&nbsp;录
                </button>
                <div class="line line-dashed"></div>
                <a ui-sref="access.signin" class="btn btn-lg btn-primary btn-block"><i class="fa icon-arrow-right"></i>
                    切换医生账号登录</a>
            </form>
        </div>
    </div>
</div>
<div class="cprt-footer" ng-include="'src/tpl/blocks/page_footer.html'">
    {% include 'blocks/page_footer.html' %}
</div>
