<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="mask"></div>
<div class="cnt-anim-dialog animating capitalpooldrug-anim-dialog" ng-controller="capitalpoolDrugController">
	<div class="navi-wrap capitalpool_drug">
		<div class="row">
			<div class="capitalpool_drug-panel">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-11">
								拨出账户
							</div>
						</div>
						<div class="row">
							<div class="col-md-11">
								<select ng-model="outaccount" ng-change="setOutAccount(outaccount)" class="form-control">
									<option ng-repeat="l in outaccountlist" value="{{l.id}}">{{l.category}}</option>
								 </select>
							</div>
						</div>
						<div class="row">
							<!-- <div class="col-md-11" style="overflow:hidden;">
								锁定金额：{{vm.outsdmoney | currency:"￥"}}元
							</div> -->
							<div class="col-md-11" style="overflow:hidden;">
								当前余额：{{vm.outbeforemoney | currency:"￥"}}元
							</div>
						</div>
					</div>
					<div class="col-md-6">

						<div class="row">
							<div class="col-md-11">
								拨入账户
							</div>
						</div>
						<div class="row">
							<div class="col-md-11">
								<select ng-model="inaccount" ng-change="setInAccount(inaccount)" class="form-control">
									<option ng-repeat="l in inaccountlist" value="{{l.id}}">{{l.category}}</option>
								 </select>
							</div>
						</div>
						<div class="row">
							<!-- <div class="col-md-11" style="overflow:hidden;">
								锁定金额：{{vm.insdmoney | currency:"￥"}}元
							</div> -->
							<div class="col-md-11" style="overflow:hidden;">
								当前余额：{{vm.inbeforemoney | currency:"￥"}}元
							</div>
						</div>
					</div>
				</div>
				<div class="row capitalpool-serial">
					<div class="col-md-6">
						<div class="capitalpool-drug-chart" id="capitalpool-drug-chart-left"></div>
					</div>
					<div class="col-md-6">
						<div class="capitalpool-drug-chart" id="capitalpool-drug-chart-right"></div>
					</div>
					<div class="capitlpool-arrow"></div>
					<div class="fa fa-plus capitlpool-plus"></div>
					<div class="fa fa-minus capitlpool-minus"></div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-11" style="overflow:hidden;">
								拨后余额：{{vm.outaftermoney | currency:"￥"}}元
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-11" style="overflow:hidden;">
								拨后余额：{{vm.inaftermoney | currency:"￥"}}元
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-11">
						<div class="form-group" style="padding:7px 15px;">
						    <div class="input-group">
						      <div class="input-group-addon" style="background:#ffffff; border:none; font-size:16px; padding:7px 0;">调拨金额：</div>
						      <input type="text" class="form-control" ng-model="amount" id="exampleInputAmount" placeholder="金额">
						      <div class="input-group-addon">元</div>
						    </div>
						</div>
					</div>
				</div>
				<div class="row capitalpool_drug_btns text-center">
					<button type="button" class="btn btn-success" ng-click="pmenter()">
						<span>调拨</span>
					</button>
					<button type="button" class="btn btn-default" ng-click="pmcancel()">
						<span>取消</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal_capitalpool" tabindex="-1" role="dialog" aria-labelledby="myModal_capitalpool" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModal_capitalpoollable">更新成功</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
	
	.capitalpooldrug-anim-dialog {
		position: fixed;
		left: 50%;
		top:50%;
		margin-left: -341px;
		margin-top: -270px;
		width: 682px;
		height: 540px;
		overflow: hidden;
	}
	.capitalpool_drug {
		padding: 20px 10px;
		font-size: 16px;	
	}

	.capitalpool_drug .row {
		margin:0;
		margin-bottom: 5px;
	}

	.capitalpool_drug button {
		width: 100px;
		margin-right: 10px;
	}

	.capitalpool_drug select {
		text-overflow:ellipsis; 
		white-space:nowrap; 
		overflow: hidden;
	}

    .capitalpool-serial {
    	position: relative;
    	width: 100%;
    }
    .capitalpool-drug-chart {
		width: 100%;
		height: 240px;
		overflow: hidden;
		margin:0 auto;
    }
    .capitalpool_drug .row.capitalpool_drug_btns {
    	margin-top: 30px;
    }

    .capitlpool-arrow {
    	position: absolute;
    	left:250px;
    	top:80px;
    	width: 100px;
    	height: 100px;
    }

    .capitlpool-plus {
		position: absolute;
		left: 472px;
		top: 84px;
		font-size: 50px;
		color: #e4e4e4;
		opacity: 0.6;
		display: none;
    }

    .capitlpool-minus {
		position: absolute;
		left: 137px;
		top: 84px;
		font-size: 50px;
		color: #e4e4e4;
		opacity: 0.6;
		display: none;
    }

    .capitlpool-arrow:after {
	  	position: absolute;
	    right: 15px;
	    top: 16px;
	    content: '';
	    display: block;
	    width: 0;
	    height: 0;
	    border-left: 40px solid transparent;
	    border-right: 40px solid #e4e4e4;
	    border-bottom: 40px solid transparent;
	    border-top-width: 0;
		-moz-transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		transform:rotate(45deg);
	}
</style>