<!-- modal dialog -->
<div class="mask"></div>
<div class="cnt-anim-dialog animating fade-in-right" ng-controller="EditIntegration">
    <div class="panel-heading font-bold text-center"><span ng-if="type=='add'">添加</span><span ng-if="type=='edit'">设置</span>积分规则</div>
    <div class="panel-body set_integration_panel">
        <div class="panel-heading">
            <div class="form-group row">
                <label for="integrat_name" class="col-sm-5 text-right">药品名</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="integrat_name" ng-model="name" placeholder="药品名" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="integrat_stime" class="col-sm-5 text-right">启用获取积分日期</label>
                <div class="col-sm-6">
                    <div class="input-prepend">
                        <input type="text" name="integrat_stime" id="integrat_stime" ng-model="start_date" class="form-control" placeholder="年/月/日" style="background:#ffffff;" readonly/>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="integrat_etime" class="col-sm-5 text-right">停用获取积分日期</label>
                <div class="col-sm-6">
                    <div class="input-prepend">
                        <input type="text" name="integrat_etime" id="integrat_etime" ng-model="end_date" class="form-control" placeholder="年/月/日" style="background:#ffffff;" readonly/>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="integrat_sstre" class="col-sm-5 text-right">本平台药店销售单品获得积分数</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="integrat_sstre" ng-model="bptydxsdphdjfs" placeholder="输入积分">
                </div>
            </div>
            <div class="form-group row">
                <label for="integrat_estre" class="col-sm-5 text-right">其他渠道销售单品获得积分数</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="integrat_estre" ng-model="qtqdxsdphdjfs" placeholder="输入积分">
                </div>
            </div>
            <div class="form-group row">
                <label for="integrat_minstre" class="col-sm-5 text-right">赠药最低所需积分数</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="integrat_minstre" ng-model="zyzdsxjfs" placeholder="输入积分">
                </div>
            </div>
            <div class="form-group row">
                <label for="integrat_xstre" class="col-sm-5 text-right">赠送每单位药品消耗积分数</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="integrat_xstre" ng-model="zsmdwypxhjfs" placeholder="输入积分">
                </div>
            </div>
        </div>
    </div>
    <div class="cnt-opr-bar form-group">
        <div ng-if="type=='edit'" class="col-md-4"></div>
        <div ng-if="type=='add'" class="col-md-4"></div>
        <div class="col-md-2" ng-if="type=='edit'">
            <button ng-click="edit_integration_update()" type="button" class="w100 btn btn-success">更 新</button>
        </div>
        <!-- <div class="col-md-2" ng-if="type=='edit'">
            <button ng-click="edit_integration_del()" type="button" class="w100 btn btn-danger">删 除</button>
        </div> -->
        <div class="col-md-2" ng-if="type=='add'">
            <button ng-click="edit_integration_save()" type="button" class="w100 btn btn-success">添 加</button>
        </div>
        <div class="col-md-2">
            <button ng-click="edit_integration_cancel()" type="button" class="w100 btn btn-default">取 消</button>
        </div>
    </div>

    <div class="modal fade" id="myModal_integrat" tabindex="-1" role="dialog" aria-labelledby="myModalIntegratLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalIntegratLabel">更新成功</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.bg{
    background-color:#23b7e5;
}
</style>