<div class="dialog-heading font-bold text-center">
    <div class="text-md">触发资料设置</div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="clearfix m-b-sm" ng-repeat="tip in tipsData">
                <div class="col-xs-10 form-inline">
                    <div class="form-group">
                        如果本题选中
                    </div>
                    <div class="form-group">
                        <select class="form-control m-l-sm m-r-sm" ng-model="tip.seq">
                            <option ng-repeat="option in filterOption(tip.seq) track by $index" value="{{option.seq}}">
                                {{option.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        则发送以下小贴示
                    </div>
                </div>
                <div class="col-xs-2 form-inline text-right">
                    <div class="form-group">
                        <button type="button" class="btn btn-default btn-sm" ng-click="removeTip($index)" ng-hide="tipsData.length<2">删除</button>
                    </div>
                </div>
                <!-- <div class="col-xs-12 m-t-xs" style="padding-left: 114px">
                    则发送以下小贴示
                </div> -->
                <div class="col-xs-12 clearfix m-t-xs" style="padding-left: 114px">
                    <textarea ng-model="tip.tips" class="form-control" rows="2"></textarea>
                </div>
            </div>
            <div class="col-xs-12">
                <button type="button" class="btn btn-default btn-sm" ng-click="addTip()" ng-disabled="tipsData.length>=options.length">添加</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="col-md-offset-2 col-md-4">
        <button type="button" class="btn-block btn btn-success" ng-click="ok()">确 定</button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn-block btn btn-default" ng-click="cancel()">取 消</button>
    </div>
</div>
