<div class="dialog-heading font-bold text-center">
    <div class="text-md">添加病情跟踪</div>
</div>
<div class="modal-body">
    <div class="row text-center  m-t-sm">
        您可以选择创建新问题、或从库中选择
    </div>
    <div class="row m-t">
        <div class="col-xs-4 col-xs-offset-2">
            <button type="button" class="btn-block btn btn-success" ng-click="create()">新建问题</button>
        </div>
        <div class="col-xs-4">
            <button type="button" class="btn-block btn btn-default" ng-click="openLibary()">选择问题</button>
        </div>
    </div>
</div>
