<div class="row" ng-controller="editQuestionsOfLifeCtrl">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-default m-t">
            <div class="panel-heading font-blod">
                生活量表
            </div>
            <div class="panel-body">
                <div class="form-group clearfix">
                    <div class="col-sm-2">
                        <div class="row">
                            <label class="control-label">量表标题</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <input type="text" class="form-control" placeholder="标题" ng-model="lifeQualityData.title">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="row text-right">
                                    <label class="control-label">科室：</label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="lifeQualityData.diseaseName" placeholder="科室" disabled>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="chooseDepartment()" ng-disabled="isDiseaseDisable">选择</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group clearfix">
                    <div class="col-sm-2">
                        <div class="row">
                            <label class="control-label">量表简介</label>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <textarea style="resize:none" class="form-control" rows="3" placeholder="简介" ng-model="lifeQualityData.desc"></textarea>
                        </div>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group clearfix">
                    <div class="bg-light b clearfix m-b-sm" ng-repeat="item in lifeQualityData.questions">
                        <div class="col-sm-1 text-center clearfix">
                            <h4 class="m-t-md">Q<span ng-bind="item.seq=$index+1"></span>:</h4>
                            <div class="m-t-sm">
                                <a title="向上移动" ng-click="putUpQuestion($index)"><i class="fa fa-arrow-up" ng-if="!$first"></i></a>
                            </div>
                            <div>
                                <a title="向下移动" ng-click="putDownQuestion($index)" ng-if="!$last"><i class="fa fa-arrow-down"></i></a>
                            </div>
                            <div class="m-t-sm">
                                <button class="btn btn-default btn-xs" ng-click="copyQyestiong($index, item)">复制</button>
                            </div>
                            <div class="m-t-xs">
                                <button class="btn btn-default btn-xs" ng-click="removeQuestion($index)" ng-if="!$first">删除</button>
                            </div>
                        </div>
                        <div class="col-sm-11">
                            <div class="b-l b-grey clearfix" style="min-height:160px">
                                <div class="m-l-md m-t-sm">
                                    <div>
                                        <input type="text" class="form-control" placeholder="题目" ng-model="item.name">
                                    </div>
                                    <ul class="m-b-sm">
                                        <li class="clearfix m-t-sm" ng-repeat="part in item.options">
                                            <div class="pull-left">
                                                <label class="m-t-xs">
                                                    <input type="radio" disabled> &nbsp;&nbsp;
                                                    <span ng-bind="part.seq=$index+1"></span>.
                                                    <a editable-text="part.name" blur="submit">{{part.name}}</a>
                                                </label>
                                            </div>
                                            <div class="pull-right clearfix m-l-xs" ng-if="item.options.length>2">
                                                <button class="btn btn-default btn-sm" ng-click="removeOption($parent.$parent.$index,$index)">删除</button>
                                            </div>
                                            <div class="pull-right clearfix" style="width:100px">
                                                <div class="input-group">
                                                    <input type="number" class="form-control input-sm" ng-model="part.score" min="0" step="1" ng-blur="part.score=onlyNbr(part.score)">
                                                    <span class="input-group-addon">分</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="m-b-sm">
                                        <button class="btn btn-default btn-sm" ng-click="addOption($index)">添加选项</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-sm">
                        <button class="btn btn-default btn-md" ng-click="addQuestion()">添加题目</button>
                    </div>
                    <div class="bg-light b clearfix m-t-sm">
                        <div class="m-sm b-b clearfix">
                            <div class="row">
                                <lable class="text-sm font-blod col-xs-6">
                                    答案设置
                                </lable>
                                <div class="col-xs-6 text-right">
                                    预计总得分：{{getPiontRange().min}}~{{getPiontRange().max}}分
                                </div>
                            </div>
                        </div>
                        <div class="bg-white m-sm b b-grey" ng-repeat="item in lifeQualityData.scores">
                            <div class="m-sm">
                                <div class="row">
                                    <div class="col-xs-8 clearfix">
                                        <div class="col-xs-3">
                                            <div class="row">
                                                <div class="text-center">
                                                    <label class="control-label">当得分在：</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="row">
                                                <input type="number" class="form-control inline input-sm" ng-model="item.leftScore" min="0" ng-blur="item.leftScore=onlyNbr(item.leftScore)">
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <div class="row">
                                                <div class="text-center">
                                                    <label class="control-label">到</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="row">
                                                <input type="number" class="form-control inline input-sm" ng-model="item.rigthScore" min="0" ng-blur="item.rigthScore=onlyNbr(item.rigthScore)">
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <div class="row">
                                                <div class="text-center">
                                                    <label class="control-label">时</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 text-right">
                                        <button class="btn btn-default btn-sm" ng-click="removeAnswerInfo($index)" ng-if="!$first">删除</button>
                                    </div>
                                </div>
                                <div class="row m-t-sm">
                                    <div class="col-xs-12 clearfix">
                                        <div class="col-xs-2">
                                            <div class="row">
                                                <div class="text-center">
                                                    <label class="control-label">显示信息：</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-10">
                                            <div class="row">
                                                <div>
                                                    <textarea style="resize:none" class="form-control" rows="3" placeholder="信息" ng-model="item.showInfo"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-sm clearfix">
                            <button class="btn btn-default btn-md" ng-click="addAnswerInfo()">添加更多显示信息</button>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <a class="btn btn-danger btn-md w-xs" ui-sref="app.lifeQualityLibrary">取消</a>
                    <button class="btn btn-success btn-md w-xs" ng-click="saveEdit()">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
.editable-controls {
    margin-top: 0px !important;
    border: 0px !important;
}

.input-xs {
    height: 22px;
    padding: 3px 12px;
}

.editable-click,
a.editable-click {
    border: 0px;
    color: #666;
}
</style>
