<div class="dialog-heading font-bold text-center">
    <div class="text-md">医生回复</div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="m-t clearfix">
                <div class="col-xs-3">
                    <div class="row">
                        <div class="form-group">
                            回复内容：
                        </div>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="row">
                        <textarea ng-model="replyData.doctorReply" class="form-control" rows="4"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="col-md-offset-2 col-md-4">
        <button type="button" class="btn-block btn btn-success" ng-click="ok()">确 定</button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn-block btn btn-default" ng-click="cancel()">取 消</button>
    </div>
</div>
