<div class="org hbox hbox-auto-xs hbox-auto-sm" ng-controller="CheckList">
    <div class="frame-panel">
        <div class="row">
            <div class="col-md-12">
                <h2 class="org-title text-center">医生资格审核</h2>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-md-12 tab-wrap">
                <tabset class="tab-container">
                    <tab heading="待审核" select="tabs.unCheck()" active="tabs.active[0]">
                        <div>
                            <div ng-init="loading=true" ng-if="loading" class="loading">
                                <i class="glyphicon glyphicon-repeat"></i>
                            </div>
                            <div class="table-responsive">
                                <table id="list_unCheck" class="table table-striped b-t b-b">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th width="80">姓名</th>
                                        <th>医疗机构</th>
                                        <th>科室</th>
                                        <th>职称</th>
                                        <th width="100">电话</th>
                                        <th>提交时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </tab>
                    <tab heading="已通过" select="tabs.passed()" active="tabs.active[1]">
                        <div>
                            <div ng-init="loading=true" ng-if="loading" class="loading">
                                <i class="glyphicon glyphicon-repeat"></i>
                            </div>
                            <div class="table-responsive">
                                <table id="list_passed" class="table table-striped b-t b-b">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th width="80">姓名</th>
                                        <th>医疗机构</th>
                                        <th>科室</th>
                                        <th>职称</th>
                                        <th width="100">电话</th>
                                        <th>提交时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </tab>
                    <tab heading="未通过" select="tabs.noPass()" active="tabs.active[2]">
                        <div>
                            <div ng-init="loading=true" ng-if="loading" class="loading">
                                <i class="glyphicon glyphicon-repeat"></i>
                            </div>
                            <div class="table-responsive">
                                <table id="list_noPass" class="table table-striped b-t b-b">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th width="80">姓名</th>
                                        <th>医疗机构</th>
                                        <th>科室</th>
                                        <th>职称</th>
                                        <th width="100">电话</th>
                                        <th>提交时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </tab>
                    <tab heading="未认证" select="tabs.unAuth()" active="tabs.active[3]">
                        <div>
                            <div ng-init="loading=true" ng-if="loading" class="loading">
                                <i class="glyphicon glyphicon-repeat"></i>
                            </div>
                            <div class="table-responsive">
                                <table id="list_unAuth" class="table table-striped b-t b-b">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th width="80">姓名</th>
                                        <th>医疗机构</th>
                                        <th>科室</th>
                                        <th>职称</th>
                                        <th width="100">电话</th>
                                        <th>提交时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>
</div>